@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: #D3E8EE;
  font-family: "Lato", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.header {
  background-color: #D3E8EE;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.body {
  background-color: #D3E8EE;
}

.boton {
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
  float: right;
}

#check {
  display: none;
}

.logo {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  line-height: 80px;
  padding: 0 40px;
}

.link {
  text-decoration: none;
  color: black;
}

.lista {
  display: flex;
  margin-right: 80px;
  list-style: none;
}
.lista .hijo {
  font-family: "Lato", sans-serif;
  margin: 0 12px;
  line-height: 80px;
  font-size: 18px;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 768px) {
  .header {
    background-color: #D3E8EE;
    height: 60px;
  }
  .logo {
    font-size: 25px;
    font-family: "Dancing Script", cursive;
    line-height: 60px;
    padding: 0 20px;
  }
  .lista {
    display: flex;
    flex-direction: column;
    margin-right: 0 40px;
    background-color: #D3E8EE;
    position: fixed;
    left: -100%;
    top: 60px;
    width: 100%;
    padding: 0;
    height: calc(100% - 60px);
    overflow-y: auto;
  }
  .lista .hijo {
    line-height: 70px;
  }
  .boton {
    display: block;
  }
  #check:checked ~ ul {
    left: 0%;
  }
}
.sobremigrids {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "fotosobremi presentacion";
}
.sobremigrids .fotosobremi {
  grid-area: fotosobremi;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobremigrids .presentacion {
  grid-area: presentacion;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  font-family: "Lato", sans-serif;
}
.sobremigrids .presentacion .conunpc {
  margin: 30px;
  font-size: 25px;
  transition: font-size 0.3s ease-in-out;
}
.sobremigrids .presentacion .conunpc:hover {
  font-size: 40px;
}

@media (max-width: 777px) {
  .sobremigrids {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "fotosobremi" "presentacion";
  }
  .sobremigrids .fotosobremi {
    grid-area: fotosobremi;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  .sobremigrids .presentacion {
    grid-area: presentacion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
  }
}
.res-in {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "respres fotopres";
}
.res-in .respres {
  grid-area: respres;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding: 20px;
  margin: 20px;
}
.res-in .respres .resunpc {
  margin: 30px;
  font-size: 25px;
  transition: font-size 0.3s ease-in-out;
}
.res-in .respres .resunpc:hover {
  font-size: 40px;
}
.res-in .fotopres {
  grid-area: fotopres;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 777px) {
  .res-in {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "fotopres" "respres";
  }
  .res-in .fotopres {
    grid-area: fotopres;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .res-in .respres {
    grid-area: respres;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
  }
}
.au-in {
  display: grid;
  height: 100vh;
  margin-bottom: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "fotoau aupres";
}
.au-in .fotoau {
  grid-area: fotoau;
  display: flex;
  justify-content: center;
  align-items: center;
}
.au-in .aupres {
  grid-area: aupres;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding: 20px;
  margin: 20px;
}
.au-in .aupres .aunpc {
  margin: 30px;
  font-size: 25px;
  transition: font-size 0.3s ease-in-out;
}
.au-in .aupres .aunpc:hover {
  font-size: 40px;
}

@media (max-width: 777px) {
  .au-in {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "fotoau" "aupres";
  }
  .au-in .fotoau {
    grid-area: fotoau;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }
  .au-in .aupres {
    grid-area: aupres;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
  }
}
.respagina {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "elpoder penelope susurro" "reinadescalza oficio-del-mal blanco-letal";
  gap: 2rem;
  background-color: #D3E8EE;
}
.respagina .elpoder {
  font-family: "Lato", sans-serif;
  grid-area: elpoder;
  background-color: #a79b9a;
  color: black;
  margin-top: 45px;
  text-align: center;
}
.respagina .elpoder .podmarg {
  margin-top: 50px;
}
.respagina .elpoder .imgelpoder {
  margin: 10px;
}
.respagina .penelope {
  font-family: "Lato", sans-serif;
  grid-area: penelope;
  background-color: #928f9e;
  color: black;
  margin-top: 45px;
  text-align: center;
}
.respagina .penelope .penmarg {
  margin: 50px;
}
.respagina .penelope .imgpenelope {
  margin: 10px;
}
.respagina .susurro {
  font-family: "Lato", sans-serif;
  grid-area: susurro;
  background-color: #8f947e;
  color: black;
  margin-top: 45px;
  text-align: center;
}
.respagina .susurro .susmarg {
  margin-top: 50px;
}
.respagina .susurro .imgsusurro {
  margin: 10px;
}
.respagina .reinadescalza {
  font-family: "Lato", sans-serif;
  grid-area: reinadescalza;
  background-color: #a0c1ce;
  color: black;
  margin-top: 45px;
  text-align: center;
  margin-bottom: 30px;
}
.respagina .reinadescalza .rein-descal {
  margin-top: 50px;
}
.respagina .reinadescalza .img-rein-descal {
  margin: 10px;
}
.respagina .oficio-del-mal {
  font-family: "Lato", sans-serif;
  grid-area: oficio-del-mal;
  background-color: #ccbaa5;
  color: black;
  margin-top: 45px;
  text-align: center;
  margin-bottom: 100px;
}
.respagina .oficio-del-mal .of-mal {
  margin: 50px;
}
.respagina .oficio-del-mal .img-of-mal {
  margin: 10px;
}
.respagina .blanco-letal {
  font-family: "Lato", sans-serif;
  grid-area: blanco-letal;
  background-color: #a0b9a2;
  color: black;
  margin-top: 45px;
  text-align: center;
  margin-bottom: 100px;
}
.respagina .blanco-letal .blan-let {
  margin-top: 50px;
}
.respagina .blanco-letal .img-blan-let {
  margin: 10px;
}

.ver {
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: font-size 0.3s ease-in-out;
}

.ver:hover {
  font-size: 23px;
  font-style: italic;
}

@media (max-width: 953px) {
  .respagina {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "elpoder" "penelope" "susurro" "reinadescalza" "oficio-del-mal" "blanco-letal";
  }
}
.autores-pagina {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "cristina-bajo gabriela-exilart" "carlos-ruiz vanesa-montfort";
  gap: 2rem;
  background-color: #D3E8EE;
}
.autores-pagina .cristina-bajo {
  font-family: "Lato", sans-serif;
  grid-area: cristina-bajo;
  background-color: #CFCDC9;
  color: black;
  margin-top: 45px;
  text-align: center;
}
.autores-pagina .cristina-bajo .cris-baj {
  margin-top: 50px;
}
.autores-pagina .cristina-bajo .img-cris-bajo {
  margin: 30px;
}
.autores-pagina .cristina-bajo .pres-cris-baj {
  font-family: "Lato", sans-serif;
  color: black;
  margin: 20px;
}
.autores-pagina .gabriela-exilart {
  font-family: "Lato", sans-serif;
  grid-area: gabriela-exilart;
  background-color: #BFC5BF;
  color: black;
  margin-top: 45px;
  text-align: center;
}
.autores-pagina .gabriela-exilart .gab-ex {
  margin-top: 50px;
}
.autores-pagina .gabriela-exilart .img-gab-ex {
  margin: 30px;
}
.autores-pagina .gabriela-exilart .pres-gab-ex {
  font-family: "Lato", sans-serif;
  color: black;
  margin: 20px;
}
.autores-pagina .carlos-ruiz {
  font-family: "Lato", sans-serif;
  grid-area: carlos-ruiz;
  background-color: #BFC5BF;
  color: black;
  margin-top: 45px;
  text-align: center;
  margin-bottom: 100px;
}
.autores-pagina .carlos-ruiz .car-ru {
  margin-top: 50px;
}
.autores-pagina .carlos-ruiz .img-car-ru {
  margin: 30px;
}
.autores-pagina .carlos-ruiz .pres-car-ru {
  font-family: "Lato", sans-serif;
  color: black;
  margin: 20px;
}
.autores-pagina .vanesa-montfort {
  font-family: "Lato", sans-serif;
  grid-area: vanesa-montfort;
  background-color: #CFCDC9;
  color: black;
  margin-top: 45px;
  text-align: center;
  margin-bottom: 170px;
}
.autores-pagina .vanesa-montfort .van-mont {
  margin-top: 50px;
}
.autores-pagina .vanesa-montfort .img-van-mont {
  margin: 30px;
}
.autores-pagina .vanesa-montfort .pres-van-mont {
  font-family: "Lato", sans-serif;
  color: black;
  margin: 20px;
}

.ver {
  color: black;
  text-decoration: none;
  font-style: italic;
  font-size: 18px;
  transition: font-size 0.3s ease-in-out;
}

.ver:hover {
  font-size: 23px;
  font-style: italic;
}

@media (max-width: 953px) {
  .autores-pagina {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "cristina-bajo" "gabriela-exilart" "carlos-ruiz" "vanesa-montfort";
  }
}
.pagcontacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "wpcontacto" "ubicontacto" "instacontacto";
  gap: 2rem;
}
.pagcontacto .wpcontacto {
  color: black;
  background-color: #D3E8EE;
  font-family: "Lato", sans-serif;
  grid-area: wpcontacto;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagcontacto .wpcontacto .whatsappcontacto {
  text-decoration: none;
  color: black;
  transition: font-size 0, 3s ease-in-out;
  font-size: 20px;
}
.pagcontacto .wpcontacto .whatsappcontacto:hover {
  font-size: 25px;
}
.pagcontacto .ubicontacto {
  color: black;
  background-color: #D3E8EE;
  font-family: "Lato", sans-serif;
  grid-area: ubicontacto;
  margin: 10px;
  text-align: center;
}
.pagcontacto .ubicontacto .ubicacion {
  text-decoration: none;
  color: black;
  transition: font-size 0, 3s ease-in-out;
  font-size: 20px;
}
.pagcontacto .ubicontacto .ubicacion:hover {
  font-size: 25px;
}
.pagcontacto .instacontacto {
  color: black;
  background-color: #D3E8EE;
  font-family: "Lato", sans-serif;
  grid-area: instacontacto;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagcontacto .instacontacto .instagramcontacto {
  text-decoration: none;
  color: black;
  transition: font-size 0, 3s ease-in-out;
  font-size: 20px;
}
.pagcontacto .instacontacto .instagramcontacto:hover {
  font-size: 25px;
}

.footer {
  background-color: #D3E8EE;
  color: black;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
}
.footer .nombre {
  color: black;
  font-family: "Dancing Script", cursive;
}
.footer .social {
  font-family: "Lato", sans-serif;
}
.footer .social .instagram {
  text-decoration: none;
  color: black;
}
.footer .social .whatsapp {
  text-decoration: none;
  color: black;
}
.footer .copy {
  font-family: "Lato", sans-serif;
}/*# sourceMappingURL=estilos.css.map */