
.autores-pagina { 
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "cristina-bajo gabriela-exilart"
    "carlos-ruiz vanesa-montfort";
    gap: 2rem;
    background-color: $backcolor;

    .cristina-bajo {
        font-family: $font;
        grid-area: cristina-bajo;
       background-color:#CFCDC9 ; 
       color: black;
       margin-top: 45px;
      text-align: center;

      .cris-baj {
        margin-top: 50px;
        }
        .img-cris-bajo {
          margin:30px;
        }

        .pres-cris-baj{
            font-family: $font;
            color:black;
            margin:20px;
        }
    }
    .gabriela-exilart{
        font-family: $font;
        grid-area: gabriela-exilart;
        background-color:#BFC5BF; 
        color: black;
        margin-top: 45px;
        text-align: center;
        
    .gab-ex{
        margin-top: 50px;
    }
    .img-gab-ex {
        margin: 30px;
    }

    .pres-gab-ex{
        font-family: $font;
        color:black;
        margin:20px;
    }
    }

    .carlos-ruiz {
        font-family: $font;
        grid-area: carlos-ruiz;
        background-color:#BFC5BF ; 
        color: black;
        margin-top: 45px;
        text-align: center;
        margin-bottom: 100px;
        .car-ru {
            margin-top: 50px;
        }
        .img-car-ru {
            margin: 30px;
        }

        .pres-car-ru{
            font-family: $font;
            color:black;
            margin:20px;
        }
    }
    
    .vanesa-montfort {
        font-family: $font;
        grid-area: vanesa-montfort;
        background-color:#CFCDC9 ; 
        color: black;
        margin-top: 45px;
        text-align: center;
        margin-bottom: 170px;
        .van-mont {
            margin-top: 50px;
        }
        .img-van-mont {
            margin: 30px;
        }

        .pres-van-mont{
            font-family: $font;
            color:black;
            margin:20px;
        }
    }
    
}

.ver {
    color: black;
    text-decoration: none;
    font-style: italic;
    font-size: 18px;
    transition: font-size 0.3s ease-in-out;
 }
 
 .ver:hover {
     font-size:23px;
     font-style: italic;
 }

@media (max-width: 953px ) {
    .autores-pagina {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "cristina-bajo"
        "gabriela-exilart"
        "carlos-ruiz"
        "vanesa-montfort";
    }
}