
.footer{
    background-color: $backcolor ;
    color: black;
    text-align: center;
    bottom: 0;
    width: 100%;
    position:fixed;
    .nombre{
        color: black;
        font-family: 'Dancing Script', cursive;
    }
    
    .social{
        font-family: $font;
        
    .instagram {
        text-decoration: none;
        color:black;
    }
    
    .whatsapp{
        text-decoration: none;
        color:black;
    }
    }
    
    .copy{
        font-family:$font;
    }  
}   

